/* * {
  border: 1px solid red;
  margin: 1%;
  padding: 1%;
} */

/* html { */
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* } */

.container {
  /* background-color: black;
  color: white; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.gameBoard {
  display: grid;
  grid-template-columns: auto auto auto;
  /* border: 1px solid black; */
}

.gameGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  opacity: 0.8;
  border: 5px solid black;
  text-align: center;
  /* width: 13vw; */
  height: 15vmin;
  padding: calc(5px + 4vmin);
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.resetButton,
.darkmodeButton {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.resetButton p {
  color: rgb(252, 243, 229);
  background-color: red;
  opacity: 0.8;
  padding: 1rem;
}

.darkmodeButton p {
  opacity: 0.8;
  padding: 1rem;
}

.darkmodeButton.dark p {
  color: black;
  /* background-color: rgb(238, 210, 159); */
  background-color: rgb(252, 243, 229);
}

.darkTheme {
  color: rgb(252, 243, 229);
  background-color: black;
}

.lightTheme {
  background-color: rgb(252, 243, 229);
}

.darkmodeButton.light p {
  color: rgb(252, 243, 229);
  background-color: rgb(56, 1, 56);
}

.footer {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.footer a {
  color: rgb(128, 53, 53);
}

.markX,
.markO {
  background-color: brown;
  color: rgb(252, 243, 229);
  font-size: calc(20px + 5vmin);
}

@media (min-width: 550px) {
  html {
    background-color: orange;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .game {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
  }

  .gameBoard {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .resetButton,
  .darkmodeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 1rem; */
  }

  .game {
    order: 0;
  }

  .resetButton {
    order: 1;
  }

  .darkmodeButton {
    order: -1;
  }

  .lightTheme {
    background-color: orange;
  }
}
